.container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
}
.textfield{
    margin-right: 10px;
    margin-left: 10px;
}
.button{
    margin-right: 10px;
    margin-left: 10px;
}
.button2{
    margin-left: auto;
    margin-right: 10px;
}
.instruction{
    font-style: italic;
}
.flex{
    display: flex;
    align-items: center;
}